---
export const prerender = false;

import Layout from "@/layouts/Layout.astro";
import { getSessionSafe } from "@/lib/supabase/supabaseServer"; 


// Usamos getSessionSafe para obtener el cliente y la sesión/usuario de Auth
const { user, profile, error } = await getSessionSafe({
    request: Astro.request,
    cookies: Astro.cookies,
});

if (!user) {
    return Astro.redirect("/auth/login");
}

const profileName = profile?.names?.trim();
const emailName = user?.email?.split('@')[0];
const welcomeName = profileName || emailName || "Invitado";
---

<Layout title="Dashboard de Admision">
    <h1 class="text-2xl font-bold mb-6 text-black">Bienvenido, {welcomeName} </h1>

    <section class="flex justify-center">
        <div class="relative w-full max-w overflow-hidden rounded-2xl shadow-lg"  style="aspect-ratio: 16 / 8.5;">
            <iframe title="indicadores_admission_analytics" frameborder="0" allowfullscreen class="absolute top-0 left-0 w-full h-full border-0"
                style="zoom: 0.9;"
                src="https://app.powerbi.com/view?r=eyJrIjoiMjIyODcxOTUtM2Y1ZS00YzE4LThjYTUtZGM4ZDJkOTVmOWY1IiwidCI6ImY4OTU5ZjZjLTlhN2EtNGFjOS05MmI2LTlhYjMyZWIyNDY0OSJ9" 
            ></iframe>
        </div>
    </section>
</Layout>