---
export const prerender = false;

import Layout from "@/layouts/Layout.astro";
import { getSessionSafe } from "@/lib/supabase/supabaseServer"; 
import type { Profile } from "@/types/Profile";


// Usamos getSessionSafe para obtener el cliente y la sesión/usuario de Auth
const { user, supabase, error: sessionError } = await getSessionSafe({ request: Astro.request, cookies: Astro.cookies });

if (sessionError) {
    console.warn("[dashboard] Error en getSessionSafe:", sessionError.message);
}

// obtener perfil
let profile: Profile | null = null;
if (user) {
    const { data: profileData } = await supabase
        .from("user_profiles")
        // Obtenemos los campos que necesita la UI
        .select("names, role, status, area_id") 
        .eq("user_id", user.id)
        .maybeSingle();

    profile = profileData as Profile | null;
}

const displayProfile = profile || user; // objeto visual
const hasNames = displayProfile && 'names' in displayProfile && displayProfile.names; // verificamos que exista name

const welcomeName = hasNames 
    ? hasNames // Si tiene nombre, lo usamos
    : displayProfile?.email?.split('@')[0] || 'Invitado'; // Si no, usamos el email o Invitado
---

<Layout title="Dashboard de Admision">
    <h1 class="text-2xl font-bold mb-6 text-black">Bienvenido, {welcomeName} </h1>

    <section class="flex justify-center">
    <div 
        class="relative w-full max-w overflow-hidden rounded-2xl shadow-lg "
        style="aspect-ratio: 16 / 8.5;"
    ><iframe
        title="indicadores_admission_analytics"
        src=
        "https://app.powerbi.com/view?r=eyJrIjoiMjIyODcxOTUtM2Y1ZS00YzE4LThjYTUtZGM4ZDJkOTVmOWY1IiwidCI6ImY4OTU5ZjZjLTlhN2EtNGFjOS05MmI2LTlhYjMyZWIyNDY0OSJ9" 
        frameborder="0"
        allowfullscreen
        class="absolute top-0 left-0 w-full h-full"
        style="zoom: 0.9;"
        ></iframe>
    </div>
    </section>
</Layout>