---
import LogsViewer from "@/components/logs/LogsViewer"
import Layout from "@/layouts/Layout.astro"
---
    <Layout>
        <div class="bg-gray-100 min-h-screen">
            <LogsViewer client:load />
        </div>
    </Layout>
