---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Dashboard de Industria">
    <section class="flex justify-center">
        <div class="relative w-full max-w overflow-hidden rounded-2xl shadow-lg" style="aspect-ratio: 16 / 8.5;">
            <iframe title="Industria" frameborder="0" class="absolute top-0 left-0 w-full h-full border-0" allowfullscreen
                style="zoom: 0.9;" 
                src="https://app.powerbi.com/view?r=eyJrIjoiYzVlMDI0NGMtM2VmNi00ZjY3LTlmZDUtYjlhODA4OTA2OGY5IiwidCI6ImY4OTU5ZjZjLTlhN2EtNGFjOS05MmI2LTlhYjMyZWIyNDY0OSJ9" 
            ></iframe>
        </div>
    </section>
</Layout>