---
import Navbar from "@/components/common/Navbar.astro";
import Sidebar from "@/components/common/Sidebar.astro";
import "@/styles/global.css";

interface Props {
  title?: string;
}

const { title = "admission analytics" } = Astro.props as Props;
---

<!doctype html>
<html lang="es" style="background-color: #e6e6e6;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href=" " />
    <meta name="generator" content={Astro.generator} />
    <link href="/terceros/flowbite.min.css" rel="stylesheet"/>

    <title>{title}</title>
  </head>

  <body style="background-color: #e6e6e6;">
    <!-- barra superior fija -->
    <Navbar />

    <!-- sidebar fijo a la izquierda -->
    <Sidebar />

    <!-- wrapper principal del contenido -->
    <!-- pt-20: empuja el contenido hacia abajo para que no quede debajo del navbar fijo -->
    <!-- sm:ml-64: deja espacio para el sidebar fijo en pantallas >= sm -->
    <!-- p-4: padding interno estándar -->
    <main class="pt-20 sm:ml-64 p-4">
      <slot />
    </main>


    <script is:inline src="/terceros/flowbite.min.js"></script>
  </body>
</html>

