---
import { getSessionSafe } from '@/lib/supabase/supabaseServer'; 
import type { UserRole, Profile } from '@/types/Profile';
import type { User } from '@supabase/supabase-js';


// obtención de sesion del usuario y el servidor de supabase
const { user, supabase } = await getSessionSafe({ request: Astro.request, cookies: Astro.cookies });

let profile: Profile | null = null; // definicion del perfil
let userAuth: User | null = user; // definicion del usuario de auth

// Consulta de Perfil
if (userAuth) { 
    // solo hacemos la consulta si tenemos el id de auth.
    const { data: profileData, error: profileError } = await supabase
        .from("user_profiles") // consulta tabla de usuarios
        .select("names,email, role") // Solo traemos los campos necesarios
        .eq("user_id", userAuth.id) // filtramos por id de usuario
        .maybeSingle(); // esperamos un solo resultado o ninguno para evitar errores

    // si hay error en la consulta
    if (profileError) {
        console.warn("[Navbar] Perfil de usuario no encontrado:", profileError.message);
        }profile = profileData as Profile | null;} // asignacion del perfil 

// Valores para la UI
const displayEmail: string = profile?.email ?? userAuth?.email ?? ""; // email a mostrar
const displayName: string = profile?.names ?? (displayEmail ? displayEmail.split("@")[0] : "Usuario"); // nombre a mostrar
const userRole: UserRole | null = profile?.role ?? null; // rol del usuario
---

<nav class="fixed top-0 z-50 w-full rounded" style="background-color: #1A1A1A;">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">

            <!-- logo y boton barra lateral -->
            <div class="flex items-center">
                <!-- boton para el menu lateral -->
                <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button"
                    class="inline-flex items-center p-2 text-sm text-gray-300 rounded-lg sm:hidden focus:outline-none focus:ring-2 focus:ring-gray-600">
                    <span class="sr-only">Abrir menú</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                    </svg>
                </button>

                <!-- redirigir con el logo -->
                <a href="/" class="flex ml-2 ">
                    <img src="/img/logo_duoc.png" class="h-11" alt="DuocUc Logo"/>
                </a>
            </div>

            <!-- menu de usuario -->
            <div class="flex items-center">
                <div class="flex items-center ms-3">
                    <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-600" aria-expanded="false" data-dropdown-toggle="dropdown-user">
                        <span class="sr-only">Menú de Usuario</span>
                        <svg class="w-9 h-9 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z" clip-rule="evenodd"/>
                        </svg>
                    </button>
                </div>

                <!-- opciones de usuario -->
                <div id="dropdown-user" class="z-50 hidden my-4 text-base list-none bg-blue-800 divide-y divide-gray-100 rounded-sm shadow-sm">
                    <div class="px-4 py-3" role="none">
                        <p class="text-sm text-white" role="none">{displayName} {userRole && `(${userRole})`}</p> <!-- nombre y rol de usuario -->
                        {displayEmail && <p class="text-sm font-medium text-white truncate" role="none">{displayEmail}</p>} <!-- email de usuario -->
                    </div>
                    
                    <ul class="py-1" role="none">
                        {/* Solo mostramos opciones si el usuario existe */} { userAuth && (
                            <>
                                <li><a href={`/edit-user/${userAuth.id}`} class="block px-4 py-2 text-sm text-white hover:bg-blue-500">Editar Perfil</a></li>
                                <li><a href="/auth/logout" class="block px-4 py-2 text-sm text-white hover:bg-blue-500">Salir</a></li>
                            </>
                        )}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</nav>
