---
import { createServerSupabase } from '@/lib/supabase/supabaseServer';

// Obtener sesion y perfill
const supabase = await createServerSupabase({ request: Astro.request, cookies: Astro.cookies });

// obtener usuario actual
const { data: userData, error: userError } = await supabase.auth.getUser();
const user = userData?.user ?? null;
let userRole = null;

if (user) {
        const { data: profile } = await supabase
                .from("user_profiles")
                .select("role")
                .eq("user_id", user.id)
                .maybeSingle();
        // asignacion de rol
        userRole = profile?.role ?? null;
}


// // para debug
// console.log("[Sidebar] user:", user);
// console.log("[Sidebar] profile:", profile);
// if (!user) {
//     console.warn("[Sidebar] Usuario no autenticado.");
// }

const pathname = Astro.url.pathname;
const isActive = (href: string) => pathname === href; 

// La clase base en el HTML
const baseLink = "flex items-center p-2 rounded-lg group"; 
---
<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full sm:translate-x-0" style="background-color:#000000;" aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto" style="background-color:#000000;">
        <ul class="space-y-2 font-medium">
            {/* Dashboard*/}
            <li>
                <a href="/dashboard" class={`${baseLink} ${isActive('/dashboard') ? 'bg-gray-700 text-white' : 'text-white hover:bg-gray-700'}`}>
                    <!-- me esta dando error este svg porque esta roto, quizas cambio con el paso del tiempo -->
                    <!-- <svg class="w-5 h-5 text-gray-400 group-hover:text-white" viewBox="0 0 22 21" fill="currentColor"><path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999 0 0 0-1-1.066h.002Z"/><path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/></svg> -->
                    <span class="ms-3">Dashboard</span>
                </a>
            </li>
                {/* Usuarios, solo visible para Admin */}
            { (userRole === 'admin' || userRole === 'manager') && (<li>
                        <a href="/user"
                        class={`${baseLink} ${isActive('/user') ? 'bg-gray-700 text-white' : 'text-white hover:bg-gray-700'}`}>
                        <svg class="w-5 h-5 text-gray-400 group-hover:text-white" viewBox="0 0 20 18" fill="currentColor"><path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/></svg>
                        <span class="ms-3">Usuarios</span>
                        </a>
                </li>)}
                
                {/* Matriculas*/}
            <li>
                <a href="#" class="flex items-center p-2 text-white hover:bg-gray-700 rounded-lg group">
                    <svg class="w-6 h-6 text-gray-400 group-hover:text-white" viewBox="0 0 24 24" fill="currentColor"><path d="M9 7V2.221a2 2 0 0 0-.5.365L4.586 6.5a2 2 0 0 0-.365.5H9Z"/><path fill-rule="evenodd" d="M11 7V2h7a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Zm4.707 5.707a1 1 0 0 0-1.414-1.414L11 14.586l-1.293-1.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd"/></svg>
                    <span class="ms-3">Matriculas</span>
                </a>
            </li>

                {/* Registros */}
            { (userRole === 'admin' || userRole === 'manager') && (<li>
                <a href="/logs" class={`${baseLink} ${isActive('/logs') ? 'bg-gray-700 text-white' : 'text-white hover:bg-gray-700'}`}>
                    <svg class="w-6 h-6 text-gray-400 group-hover:text-white" viewBox="0 0 24 24" fill="currentColor"><path fill-rule="evenodd" d="M9 7V2.221a2 2 0 0 0-.5.365L4.586 6.5a2 2 0 0 0-.365.5H9Zm2 0V2h7a2 2 0 0 1 2 2v9.293l-2-2a1 1 0 0 0-1.414 1.414l.293.293h-6.586a1 1 0 1 0 0 2h6.586l-.293.293A1 1 0 0 0 18 16.707l2-2V20a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Z" clip-rule="evenodd"/></svg>
                    <span class="ms-3">Registros</span>
                </a>
            </li>)}
        </ul>
    </div>
</aside>

