---
export const prerender = false;
import Layout from "@/layouts/Layout.astro";
---
<style>
    @import "@/styles/logout.css";
</style>


<Layout title="Cerrando Sesión">
    <div class="logout-container">
        <div class="logout-card">
            
            {/* Título de Despedida */}
            <h1 class="text-4xl font-bold text-white mb-4">
                ¡Hasta Pronto!
            </h1>

            {/* Mensaje de Proceso */}
            <p class="text-gray-300 mb-8">
                Cerrando tu sesión de forma segura...
            </p>

            {/* Loader*/}
            <div class="loader-container">
                <div class="loader-circle loader-blue"></div>
                <div class="loader-circle loader-orange"></div>
            </div>

            {/* URL de Redirección (Opcional para debug) */}
            <p class="text-gray-500 text-xs mt-10">
                Redirigiendo a la página de inicio...
            </p>

        </div>
    </div>

    <script is:inline>
        // Redirección inmediata al endpoint server que hace signOut y limpia cookies
        setTimeout(() => {
            window.location.href = "/api/auth/signout";
        }, 50); // Usamos un pequeño retraso (ej: 50ms) para dar tiempo a renderizar la animación
    </script>

    <noscript>
        <meta http-equiv="refresh" content="0; url=/api/auth/signout" />
    </noscript>
</Layout>
