---
import Table from './ui/Table.astro'; 
import Card_p from './ui/Card_p.astro'; 
import Filter from './ui/Filter.astro'; 
---

<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-8">
        {/* Filtro 1: Regiones*/}
        <Filter 
            title="Regiones" 
            subtitle="Metropolitana"
            actionId="filter-region-modal"
        />

        {/* Filtro 2: Comunas */}
        <Filter 
            title="Comunas" 
            subtitle="Santiago"
            actionId="filter-comuna-modal"
        />

        {/* Filtro 3: Ciudades */}
        <Filter 
            title="Ciudades" 
            subtitle="Valparaíso"
            actionId="filter-ciudad-modal"
        />
    </div>

    {/* Tarjeta de Porcentaje */}
    <Card_p title="DuocUc" percent={45} subtitle="Porcentaje total de." />


    {/* Dashboard Interactivo y Tabla */}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
        <div class="flex items-center justify-center h-48 rounded-xl bg-gray-50 dark:bg-gray-800">
            <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Dashboard Interactivo</h5>
        </div>
        <div class="flex items-center justify-center h-48 rounded-xl bg-gray-50 dark:bg-gray-800">
            <Table rows={[{nombre: "Colegio Don Orione", region: "Valparaíso", comuna: "Quintero", ciudad: "Quintero", id: 1}]} />
        </div>
    </div>

    {/* Mini-Tarjetas */}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
        <div class="flex items-center justify-center rounded-xl bg-gray-50 h-28 dark:bg-gray-800">Carta Número</div>
        <div class="flex items-center justify-center rounded-xl bg-gray-50 h-28 dark:bg-gray-800">Carta %</div>
        <div class="flex items-center justify-center rounded-xl bg-gray-50 h-28 dark:bg-gray-800">Carta Número 2</div>
        <div class="flex items-center justify-center rounded-xl bg-gray-50 h-28 dark:bg-gray-800">Carta % 2</div>
    </div>

    <div class="flex items-center justify-center h-48 mb-4 rounded-xl bg-gray-50 dark:bg-gray-800">
        <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Dashboard 2</h5>
    </div>

    {/* Filtros Inferiores */}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        <Filter title="Colegios" subtitle='Seleccionar' actionId="filter-colegios" />
        <Filter title="Matrícula" subtitle='Regular' actionId="filter-matricula" />
        <Filter title="Especialidad" subtitle='Ingeniería' actionId="filter-especialidad" />
        <Filter title="Campo Libre" subtitle='...' actionId="filter-libre" />
    </div>
</div>